@import './styles/colours.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

.App {
  height: 100vh;
  width: 100vw;
  background-color: $bg-colour;
  font-size: 1.2rem;
  color: $text-colour;

  .header {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    background-color: $text-colour;
    color: $bg-colour;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 1rem;
    box-shadow: 0 5px 8px 1px rgba(74, 85, 104, .4);

    p, h4 {
      margin: 0 auto;
    }

    .api-status {
      text-align: right;
      font-size: .9rem;

      span {
        &.api-disconnected {
          color: red;
        }
        &.api-connected {
          color: rgb(99, 245, 66);
        }
      }
    }
  }

  .body {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem;
  }
}
