.Loading {
  margin: 0 auto;
  width: 3rem;
  height: 2rem;
  text-align: center;
  font-size: 0.9rem;

  div {
    height: 100%;
    width: 10%;
    display: inline-block;
    animation: stretch 1.2s infinite ease-in-out;
    margin: 0 .1rem;

    &.bar1 {
      animation-delay: 0s;
    }
    &.bar2 {
      animation-delay: -1.1s;
    }
    &.bar3 {
      animation-delay: -1s;
    }
    &.bar4 {
      animation-delay: -0.9s;
    }
  }
}

@keyframes stretch {
  0%, 40%, 100% { transform: scaleY(0.5); } 
  20% { transform: scaleY(1); }
}