@import "../styles/colours";

.ProgressBar {
  position: relative;
  border: 1px solid lighten($text-colour, 25%);
  background-color: darken($bg-colour, 3%);
  border-radius: .3rem;
  width: 80%;
  height: 1.5rem;
  margin: 0 auto;
  color: $text-colour;
  font-size: 1rem;
  line-height: 1.5rem;

  p {
    position: absolute;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  span {
    border-radius: .3rem;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
}