@import '../styles/colours';

.ServerDetails {
    border: 1px solid lighten($text-colour, 25%);
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    border-radius: 0.5rem;

    .SystemInfo {
        p {
            font-size: 0.8rem;

            span {
                font-size: 0.9rem;
                font-weight: 600;
            }
        }
    }
}