@import "../styles/colours";

.Server {
  border: 1px solid lighten($text-colour, 40%);
  border-radius: 0.2rem;
  position: relative;
  padding: 0.25rem 0 0 0.25rem;
  display: block;
  overflow: auto;

  .ServerImage {
    max-width: 10rem;
    float: left;

    img {
      border-radius: 0.2rem;
      max-width: 100%;
    }
  }

  .ServerStatus {
    padding-left: 10.5rem;

    .ServerIcons {
      float: right;
      padding: 0 1.5rem 0 0;
      font-size: 1rem;

      svg {
        height: 1rem;
        width: 1rem;

        &:last-child {
          margin-left: 0.5rem;
        }

        &.enabled {
          fill: #059669;
        }
        &.disabled {
          fill: #ef4444;
        }
      }
    }

    h5 {
      margin: 0.3rem 0 0.5rem 0;
    }

    p {
      font-size: 0.8rem;
      margin: 0.1rem 0;

      span {
        font-weight: 600;

        &.online {
          color: green;
        }
        &.offline {
          color: red;
        }
      }
    }
  }
}
