@import '../styles/colours';

.ServerList {
  border: 1px solid darken($bg-colour, 8%);
  box-shadow: 2px 2px 8px 1px rgba(74, 85, 104, .2);
  border-radius: 0.2rem;
  // height: 500px;
}

.server {
  border: 1px solid #333;
  height: 100px;
}