@import "../styles/colours";

.SystemInfo,.SystemUsage {
  border: 1px solid darken($bg-colour, 8%);
  box-shadow: 2px 2px 8px 1px rgba(74, 85, 104, .2);
  text-align: left;
  font-size: 1rem;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  height: 100%;
  box-sizing: border-box;

  p {
    font-size: 0.8rem;

    span {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }
}